.container {
   padding: 0;
}

.logo {
    width: 30%;
}

nav ul li a,
 .header-btn {
    display: none;
 }

 .main-nav .toggle-btn {
    display: block;
 }

 .dropdown-menu {
    display: block;
 }

 /* showcase */
 #showcase {
    padding: 0;
  }

  #showcase .showcase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2.3rem;
    padding: 0;
    margin-top: 25rem;
  }


 .showcase-content h1 {
    font-size: 2rem;
    font-weight: 200;
  }

 .bg-intro {
    display: none;
 }

 .bg-intro-mobile {
    display: block;
    position: absolute;
    top: 2rem;
 }

 .showcase-img {
    width: 100%;
    left: 2.7rem;
    bottom: 45rem;
    right: 0;
 }

 /* why */
 .why-container {
   grid-template-columns: 1fr ;
   text-align: center;
   padding: .8rem;
 }

 #why .why-content {
   grid-template-columns: 1fr;
   gap: 1.5rem;
  }

  .why-content .card {
   text-align: center;
 }

 /* articles */
 #articles {
   padding: 2rem;
 }

 #articles .article-container .article-content {
   grid-template-columns: 1fr;
   gap: 1rem;
 }

 #articles .article-container h1 {
   text-align: center;
 }

 .article-space {
   text-align: center;
 }

 /* Footer */
 #main-footer .footer-container {
   grid-template-columns: 1fr;
   gap: 1rem;
   align-items: center;
   text-align: center;
 }

 #main-footer .footer-container .f-1 .f-logo {
   justify-content: center;
   margin-bottom: 1.5rem;
 }

 #main-footer .footer-container .f-1 .f-logo h3 {
   margin-left: -4.7rem;
 }